<div class="container general-content">
    <div class="col-sm-12 col-xs-12">
        <h1>About Us</h1>
        <div class="contentholder">
            <h2 class="first">Getting in touch</h2>

            <p>To contact a Pizza Hut store please call 0800 83 83 83 or call the store directly...... <p>
			<p>To contact Restaurant Brands Ltd please call 09 525 8700. We’ll be glad to help.</p>
            <p>To contact us by mail:</p>

            <p>
                Pizza Hut<br>
                P.O. Box 22749<br>
                Otahuhu<br>
                Auckland 1640<br>



            </p><h2>Everything you need to know about Pizza Hut</h2>

           <p>The first New Zealand Pizza Hut restaurant opened in New Lynn (Auckland) in September 1974. We currently have 90 Pizza Hut stores throughout New Zealand. Nearly everyone anywhere can enjoy a Pizza Hut pizza!</p>
			<p>We’re constantly on the lookout for ways to improve our customer service -that means fine tuning this website, and keeping our incredibly motivated team members up to date with the latest customer service trends.</p>



            <h2>Our Pizzas</h2>

            <p>Pizza Hut in New Zealand stands for serving the best quality pizzas in New Zealand.</p>
            <p>To do this we’re constantly looking at new products which we’ve developed for Kiwis, or delicious dishes that may have been hugely successful overseas and which we know will appeal to discerning New Zealanders.</p>
            <p>It’s all about quality, taste and excitement – and key to that is ‘fresh’.</p>
			
			
			
			
			
            <ul>
                <li>All Pizza Hut dough is made fresh in store daily – yes, daily.</li>
                <li>All our ingredients are sourced from quality suppliers who must meet our stringent standards of excellence.</li>
                <li>And all our pizzas and other yummy sides are made to order and under strict guidelines.</li>
            </ul>


            <h2>Good pizza starts with the perfect base</h2>

			<h2>Deep Pan</h2> 		 
			<ul>
			<li>Our Pan Pizza is New Zealands favourite! The thick crust is baked to golden perfection, crispy on the outside, soft and chewy on the inside.</li>
			</ul>

			<h2>Thin 'N Crispy ®</h2> 		 
			<ul>
			<li>Our thinner crust baked perfectly so you can taste more of your favourite toppings.</li>
			</ul>
			
			<h2>Perfecto</h2> 		 
			<ul>
			<li>A pizzeria style crust, not too thick and not too thin </li>
			</ul>
			
			<h2>Original Stuffed Crust</h2> 		 
			<ul>
			<li>The extra playful pizza you eat backwards! Pizzeria-style crust with a ring of melted cheese baked right into the crust. </li>
			</ul>

			<h2>Gluten Free </h2> 		 
			<ul>
			<li>Our gluten free base is made from rice flour and maize starch and is available only in a large base.  (please note disclaimer which can be found on the allergen page of this website)  </li>
			</ul>


            <h2>Toppings</h2>

			<ul>
			<li>Now that we’ve been through the pizza bases – it’s time to talk about the taste sensations that go on top.</li>
			</ul>
			<ul>
			<li>It’s funny that as much as we change and innovate, New Zealand’s top four favourites have always been and will probably always be the Meat Lovers, Pepperoni, Hawaiian and the Super Supreme! Great flavours made from the best ingredients – that’s what Pizza Hut is all about. You can choose from a wide range of topping; tasty beef, cabanossi, ham, chicken and juicy pineapple to name a few. Check out our menu for the huge variety of options.</li>
			</ul>
			<ul>
			<li>You can always count on Pizza Hut to deliver the freshest, tastiest pizza. And we’re always on the lookout for new flavours and textures.</li>
			</ul>

			
            <h2>Getting the freshest, tastiest pizza to you</h2>
			
				<p>It’s quick and easy to order Pizza Hut through this website via any device; mobile, desktop or tablet.   </p>
				<p>Download our Pizza Hut APP so you can order Pizza Hut anytime at the touch of a finger. </p>
				<p>Take your time on our site and customise your pizza to your heart’s content!  </p>
				<p>Join Hut Lovers at www.pizzahut.co.nz  to be eligible for exclusive online only deals.    </p>

 
            <h2>Making the experience even better</h2>

            <p>We never stand still and we always want to know how we can get better. And we want to be best at everything: food quality, service and value plus cleanliness, hospitality, accuracy of order, maintenance and speed of service. We do this through market surveys and by measuring your feedback. Feel free to give us your thoughts on our service here.</p>
            <ul>
				<li>From time to time Pizza Hut issues discount coupons or added value coupons for use by Pizza Hut customers. Coupons may be available in a variety of formats e.g. printed vouchers, gift vouchers, emails or web offers. We’ll use the word ‘coupon’ to cover all these scenarios unless otherwise indicated.</li>
				<li>Coupons are usually for limited time offers and may differ by region, though not always.</li>
				<li>From time to time our stores may also offer different prices to those published on the website. If you order a pizza for pick up from the website and when you pick it up the price in store is lower than what you paid online or were quoted for the exact same order, we will gladly refund the difference. If you have not already paid we will also pass on the difference. This does not apply to pizzas that are delivered.</li>
				<li>To get a discount or added value advertised in a coupon you must give us the coupon – whether the order is pick up or delivery.</li>
				<li>Unless otherwise indicated, coupons are valid for one item or offer per order per day, and may not be available in conjunction with other offers, coupons or special deals.</li>
				<li>You can add a wide variety of extra toppings to your pizza for as little as $2to $3 per item, depending on the item. However there is a maximum of 7 -10 toppings depending on the pizza - otherwise your pizza just won't be cooked to perfection!</li>
				<li>You also get to select the type of base you’d like for your Pizza Hut pizzas at no extra charge - choose from Pan, Classic or Thin’n Crispy. However, a surcharge applies for Stuffed Crust, Gluten Free and XL base options unless otherwise stated. </li>
				<li>You can also remove any topping you don’t like, at no extra charge.</li>
				<li>A minimum order value of $20.00 inclusive of the delivery fee is required for delivery. From time to time, an additional surcharge may apply in the event that we are able to deliver to your address, which sits outside of our normal delivery zone. </li>
				<li>Delivery is not available in all areas, or at all times of the day.</li>
				<li>Our valued delivery drivers do not carry more than $20 cash.</li>
				<li>If you are ordering more than 10 pizzas in one go – we need at least an hour’s notice. We’d hate to disappoint you.</li>
            </ul>
        </div>
    </div>
</div>

