<div class="container general-content">
    <div class="col-sm-12 col-xs-12">
        <h1>Contact Us</h1>
        <div class="contentholder">
            <p>To contact a Pizza Hut store please call 0800 83 83 83. To contact Restaurant Brands Ltd please call 09 525 8700. We’ll be glad to help.</p>
            <p>To contact us by mail:</p>

            <p>
                Pizza Hut<br>
                P.O. Box 22749<br>
                Otahuhu<br>
                Auckland 1640<br>

            </p><p>
                <a href="https://raydar.app-hosting.co.nz/contact/">Contact us</a>

                <br>
                <br>

                Catering for a crowd? <a href="https://raydar.app-hosting.co.nz/catering/">Click here to let us know how we can help</a>

            </p>
        </div>
    </div>
</div>