<div class="container general-content">
    <div class="col-sm-12 col-xs-12">
        <h1>FAQ</h1>
        <div class="contentholder">
            <p>&nbsp;</p>

            The following questions and answers address common questions from Pizza Hut Online customers. If your query hasn't been answered by these, please call 0800 83 83 83.
            <br>
            1.	Can I use coupons through Pizza Hut Online?<br>
            2.	Why does the delivery time change?<br>
            3.	Why won't the system accept my address?<br>
            4.	Can I pay by cheque?<br>
            5.	Will I still receive my order if I didn't get an order confirmation number?<br>
            6.	How will I know that my credit card details will be kept secure?<br>
            7.  if I pay for a delivery order online by credit card do I need to be present for the delivery?<br>
            8.	What number should I call if I can't make the website work?<br>
            9.	What will you do with my address details?<br>
            <br><br>
            <h2>1. Can I use coupons through Pizza Hut Online?<br></h2>
            From time to time we do make online specific coupons available. When available these coupons clearly communicate that they are online coupons and will provide details of the offer and conditions. Enter the code into the ‘Coupon Code’ box in the ‘Offers’ section on the left hand side of the ordering page and press ‘Redeem’.  The details of the offer will appear as voucher details below the basket and will automatically apply if the conditions are met.  <br>
            <br>
            <h2>2. Why does the delivery time change?<br></h2>
            The quoted time for any store changes based on many factors including road traffic conditions and the number of orders the store has. In order to give you the accurate time we quote the expected time at the start of your order and again when you confirm it, that way you always have the most up to date time.<br>
            <br>
            <h2>3. Why won't the system accept my address?<br></h2>
            We try our best to keep our address listings up to date but sometimes we get it wrong. If your address does not appear you can contact our stores on 0800 83 83 83.  We do not deliver to all addresses and limit the delivery distance from our stores to ensure we deliver to our customers the freshest possible pizza. If your address is not accepted for delivery, you can pickup from a store. <br>
            <br>
            <h2>4. Can I pay by cheque?<br></h2>
            Pizza Hut does not accept cheques as a payment option. You can pay online via credit card, or by cash when your order is delivered. You can pay by eftpos if picking up from a store.<br>
            <br>
            <h2>5. Will I still receive my order if I didn't get an order confirmation number?<br></h2>
            The confirmation number is your confirmation that your order has been processed through to your selected store. If you do not get a confirmation number back, your order has not being placed. Please ring our stores on 0800 83 83 83.<br>
            <br>

            <h2>6. How will I know that my credit card details will be kept secure?<br></h2>
            When you order products through this website we use a secure server. Secure Sockets Layer (SSL) encrypts the information you send when you place an order through this website. Pizza Hut does not hold your credit card details in any of its systems.<br>
            <br>

            <h2>7. if I pay for a delivery order online by credit card do I need to be present for the delivery? <br></h2>
            Yes, you must be present for the delivery and sign the credit card docket as proof of purchase.<br>
            <br>

            <h2>8. What number should I call if I can't make the website work?<br></h2>
            If you are having troubles with ordering through the website please send an email to info@pizzahut.co.nz.<br>
            <br>
            <h2>9. What will you do with my address details?<br></h2>
            Pizza Hut may use your personal information for various needs including placing your order and reviewing the needs of our website and how we can improve it. For further details you can view the Privacy Policy available on this site.<br>
            <br>
            Didn't find what you were looking for? If you need further assistance please call our stores on 0800 83 83 83.<br>

        </div>
    </div>
</div>