<div class="container general-content">
    <div class="col-sm-12 col-xs-12">
        <h1>Franchising</h1>
        <div class="contentholder">
		
            <p>Be part of the Pizza Hut success story. Pizza Hut is franchising a limited number of stores to owner-operators. These are all existing outlets.</p>

            <p>Become part of a successful and profitable international brand, supported in NZ by Restaurant Brands Ltd and worldwide by Yum Restaurants Ltd. Pizza Hut is New Zealand's biggest and most popular pizza chain.</p>

            <p>With 89 stores throughout the country and annual sales exceeding $85 million, Pizza Hut is currently enjoying strong sales growth and great profitability.</p>

            <p>The chain is operated by Restaurant Brands along with three other international franchises, KFC, Starbucks Coffee and Carl’s Jr.</p>

            <p>Restaurant Brands and Yum Restaurants International (the franchisor) are selling a select number of stores to independent franchisees. This will provide the opportunity for entrepreneurial business people to become owner-operators and earn a great income whilst being supported by the considerable resources of Restaurant Brands, and Pizza Hut worldwide.</p>

            <p>Existing independently owned Franchises may also be available for sale. Purchase prices are on a store by store basis and relative to store profitability</p>

            <p>Full training will be given in-store over a period of 8-12 weeks with on-going training available on demand. You will be motivated and enthusiastic and enjoy a fast paced environment to run a busy fast food store.</p>

            <p>Email the below address for a list of available stores. There are currently very limited stores available however you are welcome to record your interest.</p>

            <p>Email <a href="mailto:Franchisesales@rbd.co.nz">Franchisesales@rbd.co.nz</a></p>
        </div>
    </div>
</div>