<div class="container general-content">
    <div class="col-sm-12 col-xs-12">
        <h1>Privacy Policy</h1>
        <div class="contentholder">

            <h2>Pizza Hut New Zealand<br></h2>

            Operated by Restaurant Brands Ltd<br>
            Last Updated July 30, 2015<br>
            <br>
			Pizza Hut is committed to the protection of your personal information. Pizza Hut has developed its own privacy policy, which complies with the Privacy Act 1993.   <br>
			This Policy covers all personal information that we hold and includes information we have collected through our outlets, over the phone through our customer service centre and over the internet through our web sites. This Policy also covers personal information that we have sourced from third parties.	<br>
            <br>
			
            <h2>Collection</h2><br>
Pizza Hut will only collect personal information that is necessary for one or more of its functions or activities.<br>
Pizza Hut will only collect personal information by lawful and fair means and will let you know where and how to contact us.<br>
If it is reasonable and practicable to do so, Pizza Hut will collect personal information only from you. Where Pizza Hut collects personal information about you from someone else, Pizza Hut will take reasonable steps to advise you as soon as practicable.<br>
Pizza Hut will not collect personal information about you unless you have consented to such collection, or the collection is required by law or the collection is otherwise permitted by the Privacy Act 1993.<br>
Where you choose not to provide requested information, Pizza Hut will advise you of what impact such non-disclosure may have.<br>

            <br>
			
			
			
            <h2>Collection using this web site</h2><br>
           When you use this web site Pizza Hut collects personal information which you provide directly to us (for example, in registering or filling out an order form) and aggregate information about how you use our web site (for example, making a purchase or posting original content to our site) for the uses set out below. This information includes your name, home or work address, phone number, e-mail contact and information about the products and services, which interest you. If you contact us, we may also keep a record of that contact.<br>
            <br>
			
            <h2>Use</h2><br>
            Pizza Hut may use your personal information to:<br>
            <br>
            (a) process your orders for our products or services that you place with our  web sites, directly with one of our outlets or any other representative of Pizza Hut<br>
            <br>
            (b) market our products and services which may be of interest to you, unless you inform us not to do so;<br>
            <br>
            (c) administer and deal with any issues you raise with us regarding any of our products or services;<br>
            <br>
            (d) analyse products and customer services and develop new products; and<br>
            <br>
            (e) facilitate Pizza Hut internal business operations, including fulfilment of any legal requirements.<br>
            <br>
            We also use your IP address to help diagnose problems with our server, and to administer our web site. Your IP address is used to help identify you and to gather broad demographic information about you. <br>
            <br>
			
			
            <h2>Disclosure</h2><br>
            Pizza Hut may disclose your personal information to:<br>
            <br>
            (a) third parties provided we have obtained your prior authorisation, which we will normally obtain at the time of collecting the information from you. For example, your name, address and telephone number may be disclosed to a third party supplier of products or services that relate directly to a complaint that you have made about any of our products or services;<br>
            <br>
            (b) to employees of Pizza Hut where the information relates to a Pizza Hut outlet or a problem you have experienced with Pizza Hut provided either the information is aggregate information that does not personally identify you, or we have obtained your prior authorisation, which we will normally obtain at the time of collecting the information from you;<br>
            <br>
            (c) where the law requires Pizza Hut to do so; or<br>
            <br>
            (d) if you consent.<br>
            <br>
            Personal information may be disclosed under other circumstances where permitted by the Privacy Act.<br>
            <br>
            <h2>Opt-out</h2><br>
            We provide you with a choice as to whether we send you information about special products and services in the future, and whether information is sent by our franchisees, agents or third party service providers. You may also change this choice in the future by contacting us with this request.<br>
            <br>
            <h2>Cookies</h2><br>
            Cookies are pieces of information that a web site transfers to your computer's hard disk for record keeping purposes. Most web browsers are set to accept cookies. Our site uses cookies to keep track of what you have purchased. We also use cookies to deliver content specific to your interests, to save your password so you do not have to re-enter it each time you visit this web site, and for other purposes relating to your transactions on this web site. Cookies also help us estimate our number of users and determine overall traffic patterns through this web site. If you do not wish to receive any cookies you may set your browser to refuse cookies. However, this may mean you will not be able to order pizzas or take full advantage of Pizza Hut services. <br>
            We may also use other technologies such as web bugs to help us collect information about your usage of our web site. Any information we collect is subject to our Privacy Policy .<br>
            <br>
            <h2>Data quality</h2><br>
            Pizza Hut will take reasonable steps in the circumstances to make sure that the personal information it collects, uses or discloses is accurate, complete, relevant, not misleading and up to date.<br>
            <br>
            <h2>Data security</h2><br>
            Pizza Hut will take reasonable steps to:<br>
            (a) protect the personal information it holds from misuse and loss and from unauthorised access, modification or disclosure; and<br>
            <br>
            (b) destroy or permanently de identify personal information if it is no longer needed for any purpose.<br>
            <br>
            <h2>Access and correction</h2><br>
            Any personal information you provide to Pizza Hut will be collected and held by Pizza Hut at its official place of business in New Zealand as advised on the website from time to time. If you are an individual, under the Privacy Act 1993, you have rights of access to and correction of the personal information that Pizza Hut holds. You are entitled, at any time, to request access to your personal information held by Pizza Hut and to ask us to change any details that may be incorrect or out of date. No fee will be charged but Pizza Hut may charge you the reasonable costs of providing you with copies of the information that you have requested. If you have any questions about this statement, contact Pizza Hut by emailing info@pizzahut.co.nz or calling us on 09 5258700. <br>
            <br>
            <h2>Privacy Policy</h2><br>
            This Policy will be reviewed from time to time and any amendments will be incorporated in the updated Policy. The updated Policy will be posted on this web site. [Information is normally protected by the privacy policy that applies at the time of the disclosure. If you update the privacy policy, you should ensure that users are notified that the policy has been changed, for example by inserting a line that states when the policy was last amended - see covering email for more details.].<br>
            <br>
            <h2>Privacy Queries</h2><br>
            All queries regarding our Privacy Policy should be directed to:<br>
            Pizza Hut<br>
            Level 3, Building 8<br>
            Central Park<br>
            666 Great South Rd <br>
            Penrose <br>
            Auckland <br>
            Ph: 09 5258700 <br>

        </div>
    </div>
</div>