<div class="container general-content">
    <div class="col-sm-12 col-xs-12">
        <h1>Store List</h1>
        <div class="contentholder storelist">
            <h2 class="first">Northland</h2>
            <ul>
                <li><span class="title">Kerikeri</span> <span class="shop-address"> Shop 5, 99 Kerikeri Rd Kerikeri<b> 094017932  </b></span></li>
                <li><span class="title">Whangarei</span><span class="shop-address"> 141 Bank Street Whangarei<b> 094300065  </b></span></li>
            </ul>
            <div class="clear"></div>
            <h2>Auckland</h2>

            <ul>
                <li><span class="title">Albany</span> <span class="shop-address"> 9 - 11 Mercari Way, Albany Auckland <b>094154318 </b> </span></li>
                <li><span class="title">Belmont</span><span class="shop-address"> 137 Lake Rd, Belmont, Auckland  <b>094460155 </b></span></li>
                <li><span class="title">Birkenhead</span> <span class="shop-address"> Unit 3/75 Mokoia Rd, Birkenhead, Auckland <b>094807452</b></span></li>
                <li><span class="title">Botany Downs</span><span class="shop-address"> The Hub, 451 Ti Rakau Dr, Botany Downs, Auckland  <b>092713125  </b></span></li>
                <li><span class="title">Browns Bay</span> <span class="shop-address"> Unit 3/107 Clyde Rd, Browns Bay, Auckland  <b>094784460  </b></span></li>
                <li><span class="title">Dannemora</span><span class="shop-address"> 345 Chapel Rd, Botany Downs, Auckland  <b>092794325  </b></span></li>
                <li><span class="title">Ellerslie</span> <span class="shop-address"> 130 Main Highway, Ellerslie, Auckland  <b>095798531  </b></span></li>
                <li><span class="title">Glen Eden</span><span class="shop-address"> 210 West Coast Rd, Glen Eden, Auckland  <b>098134107  </b></span></li>
                <li><span class="title">Glen Innes</span> <span class="shop-address">Blockbuster Building, 217 Taniwha St, Glen Innes, Auckland  <b>095781592  </b></span></li>
                <li><span class="title">Glenfield</span><span class="shop-address"> 168H Wairau Rd, Glenfield, Auckland  <b>094442565  </b></span></li>
                <li><span class="title">Grey Lynn</span> <span class="shop-address"> 570 Great North Rd, Grey Lynn, Auckland  <b>093608504  </b></span></li>
                <li><span class="title">Henderson</span><span class="shop-address"> 405 Great North Rd, Henderson, Auckland  <b>098350505  </b></span></li>
                <li><span class="title">Highland Park</span> <span class="shop-address"> 2 Dunrobin Pl, Highland Park, Auckland  <b>095353294  </b></span></li>
                <li><span class="title">Hobson St</span><span class="shop-address"> 34 Kingston St Auckland CBD  <b>093092835  </b></span></li>
                <li><span class="title">Kelston</span> <span class="shop-address"> Shop 7, Kelston Shopping Cnt 2-18 West Coast Rd, Kelston, Auckland  <b>098189080 </b></span></li>
                <li><span class="title">Lincoln Rd</span><span class="shop-address"> Lincoln Road Shopping Ctr, Cnr Universal Dr &amp; Lin-Rd, Auckland  <b>098382952  </b></span></li>
                <li><span class="title">Lynfield</span> <span class="shop-address"> 570 Hillsborough Rd, Lynfield, Auckland  <b>096272690  </b></span></li>
                <li><span class="title">Mangere Central</span><span class="shop-address"> T3, 40-44 Orly Ave, Mangere Central, Auckland  <b>092572792  </b></span></li>
                <li><span class="title">Manukau</span> <span class="shop-address"> Shop 9a/613 Gt South Rd, Manukau, Auckland  <b>092630937  </b></span></li>
                <li><span class="title">Manurewa</span><span class="shop-address"> 185 Great South Rd, Manurewa, Auckland  <b>092673159  </b></span></li>
                <li><span class="title">Mt Albert</span> <span class="shop-address"> 943 New North Rd, Mt Albert, Auckland  <b>098150265  </b></span></li>
                <li><span class="title">Mt Eden</span><span class="shop-address"> 217 Dominion Rd, Mt Eden, Auckland  <b>096305710  </b></span></li>
                <li><span class="title">Mt Wellington</span> <span class="shop-address"> Cnr Penrose &amp; Mt Wellington Highway, Mt Wellington, Auckland   <b>095704702  </b></span></li>
                <li><span class="title">New Lynn</span><span class="shop-address"> Lynmall City, 3058 Gt Nth Rd, New Lynn, Auckland  <b>098276162  </b></span></li>
                <li><span class="title">Newmarket</span> <span class="shop-address"> 43 Remuera Rd, Newmarket, Auckland  <b>095295332  </b></span></li>
                <li><span class="title">Otahuhu</span><span class="shop-address"> Shop 10, 28 Bairds Rd, Otara, Auckland  <b>092762175  </b></span></li>
                <li><span class="title">Papakura</span> <span class="shop-address"> 25B Elliott St, Papakura, Auckland  <b>092962187  </b></span></li>
                <li><span class="title">Pukekohe</span><span class="shop-address"> 33 Edinburgh St Pukekohe<b>  092371426  </b></span></li>
                <li><span class="title">Quay St</span><span class="shop-address"> Unit 20/8 Quay St, Parnell  <b>093094442  </b></span></li>
                <li><span class="title">Royal Oak</span> <span class="shop-address"> Retail 2, 8-10 Mt Smart Rd, Royal Oak, Auckland  <b>096363631  </b></span></li>
                <li><span class="title">Silverdale</span> <span class="shop-address">1E Polarity Rise, Unit 3G, Silverdale  <b> 094260114 </b></span></li>
                <li><span class="title">Takanini</span><span class="shop-address"> Southgate Retail Centre 230 Gt Sth Rd Papakura, Auckland  <b>092993156  </b></span></li>
                <li><span class="title">Westgate</span> <span class="shop-address"> Westgate Shopping Centre, Don Buck Rd, Massey, Auckland  <b>098325926  </b></span></li>
                <li><span class="title">Whangaparaoa</span><span class="shop-address"> Unit 1/ 689 Whangaparoa Rd Whangaparoa<b>  094247693  </b></span></li>
            </ul>




            <div class="clear"></div>
            <h2>Waikato</h2>
            <ul>
                <li><span class="title">Cambridge </span> <span class="shop-address"> Unit 2, Cnr Queen &amp; Lake Rd Cambridge<b>  078239480  </b></span></li>
                <li><span class="title">Claudelands</span><span class="shop-address"> 695a Grey St, Hamilton  <b>078557018  </b></span></li>
                <li><span class="title">Dinsdale</span> <span class="shop-address"> 37 Whatawhata Rd, Dinsdale, Hamilton West  <b>078474677  </b> </span></li>
                <li><span class="title">Flagstaff</span><span class="shop-address"> Shop 7, Flagstaff Mall 1132-1158 River Rd, Hamilton  <b>078543821  </b></span></li>
                <li><span class="title">Melville</span><span class="shop-address"> 29 Ohaupo Rd, Melville, Hamilton  <b>078431290  </b></span></li>
                <li><span class="title">Te Awamutu</span> <span class="shop-address"> 2/670 Cambridge Road, Te Awamutu  <b>078713335  </b></span></li>
                <li><span class="title">Matamata</span> <span class="shop-address"> 51a Broadway, Matamata    <b>078888475  </b></span></li>
                <li><span class="title">Thames</span> <span class="shop-address"> 451b Pollen St, Thames    <b>078686136  </b></span></li>
            </ul>
            <div class="clear"></div>
            <h2>Bay of Plenty</h2>
            <ul>
                <li><span class="title">Greerton</span> <span class="shop-address"> Tenancy 1, 157 Chadwick St, Greerton, Tauranga <b>  075786480  </b></span></li>
                <li><span class="title">Mt Maunganui </span> <span class="shop-address"> Algarve Apartments, Unit B, 4 Tawa St, Mt Maunganui<b>   075723560  </b></span></li>
                <li><span class="title">Papamoa</span><span class="shop-address"> Shop 10, Palm Beach Shpg Plaza, 7 Gravatt Rd, Papamoa<b>  075720497  </b></span></li>
                <li><span class="title">Rotorua</span> <span class="shop-address"> 223-225 Fenton St, Rotorua  <b>073487159  </b></span></li>
                <li><span class="title">Rotorua Restaurant</span><span class="shop-address"> 3 Tutanekai St, Rotorua  <b>073493080  </b> </span></li>
                <li><span class="title">Tauranga</span> <span class="shop-address"> 340 Cameron St, Tauranga<b>  075770202  </b></span></li>
                <li><span class="title">Whakatane</span><span class="shop-address"> Corner Commerce St &amp; Pyne Street, Whakatane<b>  073082153  </b></span></li>
            </ul>
            <div class="clear"></div>
            <h2>Central Plateau</h2>
            <ul>
                <li><span class="title">Taupo</span> <span class="shop-address"> 30 Tamamutu St, Taupo<b>  073771062  </b></span></li>
            </ul>
            <div class="clear"></div>
            <h2>East Coast</h2>
            <ul>
                <li><span class="title">Gisborne Restaurant</span> <span class="shop-address">363 Gladstone Road, Gisborne<b>068684088  </b></span></li>
            </ul>
            <div class="clear"></div>
            <h2>Hawkes Bay</h2>
            <ul>
                <li><span class="title">Hastings</span> <span class="shop-address"> 601 Karamu Rd, Hastings  <b>068785452  </b></span></li>
                <li><span class="title">Napier</span> <span class="shop-address"> 35 Carlyle St, Napier  <b>068351300  </b></span></li>
            </ul>
            <div class="clear"></div>
            <h2>Taranaki</h2>
            <ul>
                <li><span class="title">Hawera</span> <span class="shop-address"> 220 High St, Hawera  <b>062785580  </b></span></li>
                <li><span class="title">New Plymouth</span> <span class="shop-address"> Shop 2, Cnr Glover St. &amp; Leach Street, New Plymouth  <b>067591106  </b></span></li>
                <li><span class="title">Westown</span> <span class="shop-address"> 53 Tukapa St New Plymouth<b>  067530182  </b></span></li>
            </ul>
            <div class="clear"></div>
            <h2>Manawatu-Wanganui</h2>
            <ul>
                <li><span class="title">Feilding </span> <span class="shop-address"> 65 Kimbolton Rd, Feilding  <b>  </b></span></li>
                <li><span class="title">Levin</span> <span class="shop-address"> 297 Oxford St, Levin  <b>063670590  </b></span></li>
                <li><span class="title">Palmerston North</span> <span class="shop-address"> Cnr of Broadway &amp; Albert St, Palmerston North   <b>063537504  </b></span></li>
                <li><span class="title">Wanganui </span> <span class="shop-address"> Tenancy 2, 402-416 Victoria Av, Wanganui<b>  063480435  </b></span></li>
            </ul>
            <div class="clear"></div>
            <h2>Wairarapa</h2>
            <ul>
                <li><span class="title">Masterton </span> <span class="shop-address"> 89 Chapel St Masterton<b> </b></span></li>
            </ul>
            <div class="clear"></div>
            <h2>Wellington</h2>
            <ul>
                <li><span class="title">Johnsonville</span> <span class="shop-address">88 Johnsonville Road, Johnsonville, Wellington  <b>044788927 </b></span></li>
                <li><span class="title">Kapiti </span> <span class="shop-address"> Unit 2/109 Kapiti Rd, Kapiti, Wellington  <b>042972736  </b></span></li>
                <li><span class="title">Karori </span> <span class="shop-address"> 61 Northland Rd, Karori, Wellington  <b>044753859  </b></span></li>
                <li><span class="title">Lower Hutt </span> <span class="shop-address"> 13 Queens Dr Lower Hutt<b>  045701040  </b></span></li>
                <li><span class="title">Newtown </span> <span class="shop-address"> 66 Adelaide Rd, Newtown, Wellington  <b>043858669  </b></span></li>
                <li><span class="title">Porirua </span> <span class="shop-address"> 12 Hagley St, Porirua, Wellington  <b>042370444  </b></span></li>
                <li><span class="title">Taita </span> <span class="shop-address"> 1197 High St, Taita, Wellington  <b>045679745  </b></span></li>
                <li><span class="title">Upper Hutt </span> <span class="shop-address"> 173-179 Main St Upper Hutt  <b>045273005  </b></span></li>
            </ul>
            <div class="clear"></div>
            <h2>Marlborough</h2>
            <ul>
                <li><span class="title">Blenheim North </span> <span class="shop-address"> 17C Maxwell Rd, Blenheim <b>035779189</b></span></li>
            </ul>
            <div class="clear"></div>
            <h2>Nelson</h2>
            <ul>
                <li><span class="title">Nelson </span> <span class="shop-address"> 27 Hardy St, Nelson<b>  035467012  </b></span></li>
                <li><span class="title">Richmond </span> <span class="shop-address"> Tenancy T82, Richmond Mall, Queen St, Richmond, Nelson<b>  035439150  </b></span></li>
            </ul>
            <div class="clear"></div>
            <h2>Canterbury</h2>
            <ul>
                <li><span class="title">Ashburton </span> <span class="shop-address"> 84 East St Ashburton<b>  033078140  </b></span></li>
                <li><span class="title">Bryndwr </span> <span class="shop-address"> 261 Greers Rd, Bryndwr, Christchurch  <b>033592594  </b></span></li>
                <li><span class="title">Church Corner </span> <span class="shop-address"> Cnr Riccarton Rd &amp; Waimairi Rd Christchurch  <b>033430348  </b></span></li>
                <li><span class="title">Ferrymead </span> <span class="shop-address"> Shop 13, 1005 Ferry Rd, Ferrymead, Christchurch  <b>033766125  </b></span></li>
                <li><span class="title">Hornby </span> <span class="shop-address"> 389a Main South Rd, Hornby, Chrischurch  <b>033492347  </b></span></li>
                <li><span class="title">New Brighton </span> <span class="shop-address"> Unit A, 131 Seaview Rd, New Brighton, Christchurch  <b>033882694  </b></span></li>
                <li><span class="title">Northwood </span> <span class="shop-address"> Northwood Cnr Main Nth Rd &amp;Radcliff Rd, Belfast, Chrischurch  <b>033235192  </b></span></li>
                <li><span class="title">Rangiora  </span> <span class="shop-address"> Tenancy 3, Warehouse Shpg Cntr, 15 High St, Rangiora<b>  033132974  </b></span></li>
                <li><span class="title">Shirley </span> <span class="shop-address"> Cnr of Hills Rd &amp; Warrington St, Shirley, Christchurch  <b>033853013  </b></span></li>
                <li><span class="title">Sydenham </span> <span class="shop-address">289 Colombo St Christchurch  <b>033379736  </b></span></li>
                <li><span class="title">Timaru </span> <span class="shop-address">90 Evans St, Timaru  <b>036831714  </b></span></li>
            </ul>
            <div class="clear"></div>
            <h2>Otago</h2>
            <ul>
                <li><span class="title">Dunedin North  </span> <span class="shop-address"> 808 Great King St, Dunedin North<b>  034771135  </b></span></li>
                <li><span class="title">Dunedin South  </span> <span class="shop-address"> 111 Hillside Rd Dunedin South <b>  034554317  </b></span></li>
            </ul>
            <div class="clear"></div>
            <h2>Southland</h2>
            <ul>
                <li><span class="title">Gore   </span> <span class="shop-address"> 121 Main St, Gore<b>  03 203 9373  </b></span></li>
                <li><span class="title">Invercargill South  </span> <span class="shop-address"> Shop 1,Sth City Mall, CnrJanet St &amp; Elles Rd, Invercargill  <b>032142920  </b></span></li>
            </ul>
        </div>
    </div>
</div>
