/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #262626;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  padding: 18px 12px; }

.wrapper {
  margin: 0 auto; }

.logo-wrapper {
  margin-bottom: 19px; }
  .logo-wrapper:after {
    clear: both;
    content: '';
    display: block;
    float: none; }

.content-wrapper {
  background: #fff;
  border-radius: 20px;
  padding: 20px 5px; }

h1 {
  font-size: 32px;
  font-weight: bold;
  line-height: 56px;
  text-transform: uppercase; }

.pull-left {
  text-align: center; }
  .pull-left .icon-hours,
  .pull-left .title {
    display: inline-block;
    vertical-align: middle; }
  .pull-left .icon-hours {
    display: none; }

.allergen-info h1,
.nutritional-info h1 {
  line-height: 35px;
  text-transform: none; }

.pull-right {
  text-align: center; }

.island {
  color: #404041;
  font-size: 25px;
  font-weight: bold;
  line-height: 28px;
  padding: 0 6px 10px 6px;
  text-transform: uppercase; }

.region-name {
  background: #C71D28;
  border-bottom: 4px solid #8D0E18;
  color: #fff;
  font-size: 23px;
  font-weight: bold;
  height: 28px;
  line-height: 28px;
  margin: 0 0 3px 0;
  padding: 0 15px; }

.location-wrapper {
  margin: 0 0 5px 0; }
  .location-wrapper:after {
    clear: both;
    content: '';
    display: block;
    float: none; }

.col {
  box-sizing: border-box;
  height: 29px;
  padding: 4px 6px; }

.col1 {
  background: #231F20;
  color: #fff; }
  .col1 .location {
    float: left;
    font-size: 10px; }
  .col1 .phone {
    float: right;
    font-size: 10px;
    text-align: right; }
  .col1 .address {
    clear: both;
    display: block;
    font-size: 8px;
    padding-top: 2px; }

.col2 {
  color: #000;
  font-size: 9px;
  height: auto;
  line-height: 12px;
  padding: 4px 0; }
  .col2 .hours {
    font-weight: bold; }

.allergen-info {
  font-family: "Source Sans Pro", sans-serif; }

h2 {
  font-size: 30px;
  font-weight: bold; }
  h2 span {
    font-size: 22px;
    font-weight: normal; }

.allergen-info .wrapper {
  max-width: 1400px;
  width: 98%; }

table {
  margin: 24px auto 36px;
  text-align: center;
  width: 100%; }
  table th[scope="col"] {
    background: #fff;
    border-left: 1px solid #231F20;
    color: #231F20;
    font-size: 13px;
    font-weight: 600;
    padding: 10px 5px;
    vertical-align: middle; }
    table th[scope="col"] span {
      font-weight: 400; }
    table th[scope="col"].empty {
      background: transparent;
      border-left: 1px solid transparent; }
  table th[scope="row"] {
    background: #fff;
    color: #231F20;
    font-size: 12px;
    line-height: 15px;
    padding: 10px;
    text-align: left;
    vertical-align: middle; }
  table td {
    font-size: 12px;
    font-weight: 700;
    padding: 10px;
    vertical-align: middle; }

.half-width p {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 12px; }

.clear:after {
  clear: both;
  content: '';
  display: block; }

.key-wrapper {
  margin-bottom: 24px; }
  .key-wrapper .key {
    border-bottom: 1px dotted #fff;
    padding: 6px 0; }
    .key-wrapper .key p {
      font-size: 12px;
      line-height: 15px;
      margin-bottom: 6px; }
    .key-wrapper .key strong {
      font-weight: bold; }
    .key-wrapper .key em {
      font-style: italic; }

.nutritional-info {
  font-family: "Source Sans Pro", sans-serif;
  padding: 18px 10px; }
  .nutritional-info .wrapper {
    max-width: 1400px;
    width: 100%; }
  .nutritional-info table {
    background: #fff;
    border: 1px solid #fff;
    color: #231F20; }
    .nutritional-info table th[scope="col"] {
      background: #231F20;
      border: 1px solid #fff;
      color: #fff;
      font-size: 8px;
      font-weight: 700;
      padding: 4px 1px; }
    .nutritional-info table th[scope="row"] {
      background: #fff;
      border: 1px solid #231F20;
      color: #231F20;
      font-size: 11px;
      font-weight: 700;
      text-align: center; }
    .nutritional-info table tr:nth-child(even) {
      background: #D1D3D4; }
    .nutritional-info table td {
      border: 1px solid #231F20;
      font-size: 11px;
      font-weight: 400; }

.footer {
  font-size: 12px;
  font-weight: bold;
  line-height: 15px; }
  .footer ul {
    list-style-type: disc;
    padding-left: 12px; }
    .footer ul li {
      margin-bottom: 3px; }

@media only screen and (min-width: 768px) {
  body {
    padding: 18px 40px; }
  h1 {
    font-size: 40px; }
  .logo-wrapper {
    height: 56px; }
  .pull-left {
    float: left;
    left: -12px;
    position: relative;
    text-align: left;
    width: 65%; }
    .pull-left .icon-hours {
      display: inline-block; }
    .pull-left .title {
      margin: 0 0 0 20px; }
  .allergen-info .pull-left {
    left: 0; }
    .allergen-info .pull-left .title {
      line-height: 56px;
      margin: 0; }
  .nutritional-info .pull-left {
    left: 0;
    width: 70%; }
    .nutritional-info .pull-left .title {
      line-height: 56px;
      margin: 0; }
  .pull-right {
    float: right;
    position: relative;
    right: -32px;
    text-align: right;
    width: 35%; }
  .nutritional-info .pull-right {
    right: 0;
    width: 30%; }
  .location-wrapper {
    border-bottom: 1px solid #231F20;
    border-top: 2px solid #231F20; }
  .col {
    padding: 4px 12px; }
  .col1 {
    float: left;
    width: 33.33%; }
  .col2 {
    float: right;
    height: 29px;
    line-height: 19px;
    padding: 4px;
    width: 66.66%; }
    .col2 .opening {
      margin-right: 14px; }
  table tr {
    border-bottom: 1px solid #fff; }
  table th[scope="row"] {
    background: transparent;
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    padding: 12px 10px;
    width: 155px; }
  table td {
    border-left: 1px solid #fff;
    font-size: 16px;
    padding: 12px 10px; }
  .half-width {
    clear: left;
    float: left;
    width: 48%; }
    .half-width.half-width-right {
      clear: none;
      float: right; }
    .half-width table {
      border-left: 1px solid #fff;
      border-right: 1px solid #fff; }
  .key-wrapper {
    margin-left: -1.5%;
    margin-right: -1.5%; }
    .key-wrapper .key {
      border-bottom: 0;
      border-right: 1px dotted #fff;
      box-sizing: border-box;
      float: left;
      height: 260px;
      padding: 0 1.5%;
      width: 15%; }
      .key-wrapper .key:last-child {
        border-right: 0;
        width: 40%; }
      .key-wrapper .key em {
        display: block;
        font-size: .8em;
        text-align: right; }
    .key-wrapper.key-gluten .key {
      height: 165px;
      width: 50%; }
    .key-wrapper:after {
      clear: both;
      content: '';
      display: block; } }

@media only screen and (min-width: 992px) {
  .wrapper {
    max-width: 1200px;
    width: 80%; }
  .key-wrapper .key p {
    font-size: 16px;
    line-height: 19px; } }

@media only screen and (min-width: 1200px) {
  .nutritional-info {
    padding: 18px 40px; }
    .nutritional-info table th[scope="col"] {
      font-size: 11px;
      padding: 4px 2px; }
    .nutritional-info table th[scope="row"] {
      font-size: 11px; }
    .nutritional-info table td {
      font-size: 11px; } }

/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 767px), (min-device-width: 768px) and (max-device-width: 1024px) {
  table, thead, tbody, th, td, tr {
    display: block; }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px; }
  table td {
    border: none;
    border-bottom: 1px solid #fff;
    position: relative;
    padding-left: 75%;
    padding-bottom: 12px;
    padding-top: 12px; }
    table td:before {
      position: absolute;
      top: 11px;
      left: 0;
      width: 20%;
      padding-right: 10px;
      text-align: left;
      white-space: nowrap; }
  .allergen-info td:nth-of-type(1):before {
    content: "Cereals containing gluten & their Products"; }
  .allergen-info td:nth-of-type(2):before {
    content: "Crustacea, Molluscs & their Products"; }
  .allergen-info td:nth-of-type(3):before {
    content: "Egg & Egg Products"; }
  .allergen-info td:nth-of-type(4):before {
    content: "Fish & Fish Products"; }
  .allergen-info td:nth-of-type(5):before {
    content: "Milk & Milk Products"; }
  .allergen-info td:nth-of-type(6):before {
    content: "Tree Nuts & their Products"; }
  .allergen-info td:nth-of-type(7):before {
    content: "Sesame Seeds & their Products"; }
  .allergen-info td:nth-of-type(8):before {
    content: "Peanuts & their Products"; }
  .allergen-info td:nth-of-type(9):before {
    content: "Soybeans & their Products"; }
  .allergen-info td:nth-of-type(10):before {
    content: "## Added sulphite"; }
  .allergen-info .half-width td:nth-of-type(1):before {
    content: "Gluten not present"; }
  .allergen-info .half-width td:nth-of-type(2):before {
    content: "Traces of Gluten may be present"; }
  .allergen-info .half-width td:nth-of-type(3):before {
    content: "Gluten present"; }
  .nutritional-info table {
    border: 0; }
    .nutritional-info table th[scope="row"],
    .nutritional-info table td {
      border: none;
      border-bottom: 1px solid #231F20; }
    .nutritional-info table td:before {
      left: 5px; }
  .nutritional-info .header {
    display: none; }
  .nutritional-info td:nth-of-type(1),
  .nutritional-info td:nth-of-type(2) {
    padding-left: 0;
    text-align: center; }
  .nutritional-info td:nth-of-type(3):before {
    content: "Avg Serving Size - Portion"; }
  .nutritional-info td:nth-of-type(4):before {
    content: "Avg Serving Size - Gram"; }
  .nutritional-info td:nth-of-type(5):before {
    content: "Energy - kJ/serve"; }
  .nutritional-info td:nth-of-type(6):before {
    content: "Energy - kJ/100g"; }
  .nutritional-info td:nth-of-type(7):before {
    content: "Calories - cal/serve"; }
  .nutritional-info td:nth-of-type(8):before {
    content: "Calories - cal/100g"; }
  .nutritional-info td:nth-of-type(9):before {
    content: "Protein - g/serve"; }
  .nutritional-info td:nth-of-type(10):before {
    content: "Protein - g/100g"; }
  .nutritional-info td:nth-of-type(11):before {
    content: "Fat, total - g/serve"; }
  .nutritional-info td:nth-of-type(12):before {
    content: "Fat, total - g/100g"; }
  .nutritional-info td:nth-of-type(13):before {
    content: "Fat, saturated - g/serve"; }
  .nutritional-info td:nth-of-type(14):before {
    content: "Fat, saturated - g/100g"; }
  .nutritional-info td:nth-of-type(15):before {
    content: "Fat, trans - g/serve"; }
  .nutritional-info td:nth-of-type(16):before {
    content: "Fat, trans - g/100g"; }
  .nutritional-info td:nth-of-type(17):before {
    content: "Carbohydrate - g/serve"; }
  .nutritional-info td:nth-of-type(18):before {
    content: "Carbohydrate - g/100g"; }
  .nutritional-info td:nth-of-type(19):before {
    content: "Carbohydrate, sugars - g/serve"; }
  .nutritional-info td:nth-of-type(20):before {
    content: "Carbohydrate, sugars - g/100g"; }
  .nutritional-info td:nth-of-type(21):before {
    content: "Sodium - mg/serve"; }
  .nutritional-info td:nth-of-type(22):before {
    content: "Sodium - mg/100g"; }
  .nutritional-info td:nth-of-type(23):before {
    content: "Dietary fibre, total - g/serve"; }
  .nutritional-info td:nth-of-type(24):before {
    content: "Dietary fibre, total - g/100g"; }
  .nutritional-info .quesadillas td:nth-of-type(1) {
    padding-left: 0;
    text-align: center; }
  .nutritional-info .quesadillas td:nth-of-type(2) {
    padding-left: 75%;
    text-align: right; }
  .nutritional-info .quesadillas td:nth-of-type(2):before {
    content: "Avg Serving Size - Portion"; }
  .nutritional-info .quesadillas td:nth-of-type(3):before {
    content: "Avg Serving Size - Gram"; }
  .nutritional-info .quesadillas td:nth-of-type(4):before {
    content: "Energy - kJ/serve"; }
  .nutritional-info .quesadillas td:nth-of-type(5):before {
    content: "Energy - kJ/100g"; }
  .nutritional-info .quesadillas td:nth-of-type(6):before {
    content: "Calories - cal/serve"; }
  .nutritional-info .quesadillas td:nth-of-type(7):before {
    content: "Calories - cal/100g"; }
  .nutritional-info .quesadillas td:nth-of-type(8):before {
    content: "Protein - g/serve"; }
  .nutritional-info .quesadillas td:nth-of-type(9):before {
    content: "Protein - g/100g"; }
  .nutritional-info .quesadillas td:nth-of-type(10):before {
    content: "Fat, total - g/serve"; }
  .nutritional-info .quesadillas td:nth-of-type(11):before {
    content: "Fat, total - g/100g"; }
  .nutritional-info .quesadillas td:nth-of-type(12):before {
    content: "Fat, saturated - g/serve"; }
  .nutritional-info .quesadillas td:nth-of-type(13):before {
    content: "Fat, saturated - g/100g"; }
  .nutritional-info .quesadillas td:nth-of-type(14):before {
    content: "Fat, trans - g/serve"; }
  .nutritional-info .quesadillas td:nth-of-type(15):before {
    content: "Fat, trans - g/100g"; }
  .nutritional-info .quesadillas td:nth-of-type(16):before {
    content: "Carbohydrate - g/serve"; }
  .nutritional-info .quesadillas td:nth-of-type(17):before {
    content: "Carbohydrate - g/100g"; }
  .nutritional-info .quesadillas td:nth-of-type(18):before {
    content: "Carbohydrate, sugars - g/serve"; }
  .nutritional-info .quesadillas td:nth-of-type(19):before {
    content: "Carbohydrate, sugars - g/100g"; }
  .nutritional-info .quesadillas td:nth-of-type(20):before {
    content: "Sodium - mg/serve"; }
  .nutritional-info .quesadillas td:nth-of-type(21):before {
    content: "Sodium - mg/100g"; }
  .nutritional-info .quesadillas td:nth-of-type(22):before {
    content: "Dietary fibre, total - g/serve"; }
  .nutritional-info .quesadillas td:nth-of-type(23):before {
    content: "Dietary fibre, total - g/100g"; }
  .nutritional-info .sides td:nth-of-type(1),
  .nutritional-info .sides td:nth-of-type(2) {
    padding-left: 75%;
    text-align: right; }
  .nutritional-info .sides td:nth-of-type(1):before {
    content: "Avg Serving Size - Portion"; }
  .nutritional-info .sides td:nth-of-type(2):before {
    content: "Avg Serving Size - Gram"; }
  .nutritional-info .sides td:nth-of-type(3):before {
    content: "Energy - kJ/serve"; }
  .nutritional-info .sides td:nth-of-type(4):before {
    content: "Energy - kJ/100g"; }
  .nutritional-info .sides td:nth-of-type(5):before {
    content: "Calories - cal/serve"; }
  .nutritional-info .sides td:nth-of-type(6):before {
    content: "Calories - cal/100g"; }
  .nutritional-info .sides td:nth-of-type(7):before {
    content: "Protein - g/serve"; }
  .nutritional-info .sides td:nth-of-type(8):before {
    content: "Protein - g/100g"; }
  .nutritional-info .sides td:nth-of-type(9):before {
    content: "Fat, total - g/serve"; }
  .nutritional-info .sides td:nth-of-type(10):before {
    content: "Fat, total - g/100g"; }
  .nutritional-info .sides td:nth-of-type(11):before {
    content: "Fat, saturated - g/serve"; }
  .nutritional-info .sides td:nth-of-type(12):before {
    content: "Fat, saturated - g/100g"; }
  .nutritional-info .sides td:nth-of-type(13):before {
    content: "Fat, trans - g/serve"; }
  .nutritional-info .sides td:nth-of-type(14):before {
    content: "Fat, trans - g/100g"; }
  .nutritional-info .sides td:nth-of-type(15):before {
    content: "Carbohydrate - g/serve"; }
  .nutritional-info .sides td:nth-of-type(16):before {
    content: "Carbohydrate - g/100g"; }
  .nutritional-info .sides td:nth-of-type(17):before {
    content: "Carbohydrate, sugars - g/serve"; }
  .nutritional-info .sides td:nth-of-type(18):before {
    content: "Carbohydrate, sugars - g/100g"; }
  .nutritional-info .sides td:nth-of-type(29):before {
    content: "Sodium - mg/serve"; }
  .nutritional-info .sides td:nth-of-type(20):before {
    content: "Sodium - mg/100g"; }
  .nutritional-info .sides td:nth-of-type(21):before {
    content: "Dietary fibre, total - g/serve"; }
  .nutritional-info .sides td:nth-of-type(22):before {
    content: "Dietary fibre, total - g/100g"; }
  .nutritional-info .is-sticky th[scope="row"] {
    background: #fff;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    right: 0;
    width: 100%;
    z-index: 1; } }

@media only screen and (min-width: 768px) {
  th[scope="row"] {
    position: static !important; } }
