<p class="welcome-back burgermenu-username" ng-if="burgermenu.model.isLoggedIn">
    <a target="_self" href="/myaccount">
        Welcome back<br />
        <span class="usernamewrap">
            {{burgermenu.model.customername | formattedusername:20 :true }}
        </span>
    </a>
</p>
<ul style="clear:both">
    <li class="burger-title">
        <p> Menu</p>
    </li>
    <li ng-click="selectSection('bucket-meals')">
        <a>Bucket Meals</a>
        <i class="pull-right fa fa-angle-right" />
    </li>
    <li ng-click="selectSection('individual-meals')">
        <a>Individual Meals</a>
        &nbsp;
        <i class="pull-right fa fa-angle-right" />
    </li>
    <li ng-click="selectSection('deals')">
        <a>Burgers</a>
        &nbsp;
        <i class="pull-right fa fa-angle-right" />
    </li>
    <li ng-click="selectSection('sides')">
        <a>Extras</a>
        &nbsp;
        <i class="pull-right fa fa-angle-right" />
    </li>
    <li class="menu-item stores-menu textcolor bottom-link">
        <a target="_self" href="#" ng-click="burgermenu.trackAndRedirect('/opening-hours.html','Footer','Stores','Stores')">Stores </a>
    </li>
    <li class="menu-item textcolor bottom-link" ng-show="!burgermenu.model.isLoggedOut" data-toggle="modal" data-target="#login-dialog" ng-click="loadSpecialMenu()">Login </li>
    <li class="menu-item textcolor bottom-link" ng-show="burgermenu.model.isLoggedIn" ng-click="burgermenu.onLogOut()">Logout </li>
		                    <!--StephenW - add help to the top bar-->	
	    <li class="menu-item stores-menu textcolor bottom-link">
        <a target="_self" href="https://gem.desk.com/?b_id=13881">Help </a>
		                    <!--StephenW - add help to the top bar-->	
    </li>
	
	
	
	
</ul>










