<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <sectionGroup name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection, DotNetOpenAuth.Core">
      <section name="messaging" type="DotNetOpenAuth.Configuration.MessagingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
      <section name="reporting" type="DotNetOpenAuth.Configuration.ReportingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
      <section name="openid" type="DotNetOpenAuth.Configuration.OpenIdElement, DotNetOpenAuth.OpenId" requirePermission="false" allowLocation="true" />
      <section name="oauth" type="DotNetOpenAuth.Configuration.OAuthElement, DotNetOpenAuth.OAuth" requirePermission="false" allowLocation="true" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	<section name="jsnlog" type="JSNLog.ConfigurationSectionHandler, JSNLog" requirePermission="false" />
  </configSections>
  
  
  
<!-- RBLSQL05;Initial Catalog=PH_MyCentral42;User Id=mycentraldemo;password=mycentraldemo; -->
<!-- PROD -->  
<!-- <connectionStrings>
    <add name="SessionStateConnectionString"              connectionString="Data Source=RBLSQL05;Initial Catalog=PH_SessionState;       User ID=mycentraldemo;Password=mycentraldemo" providerName="System.Data.SqlClient" />
	<add name="AddressFinderConnectionString"             connectionString="Data Source=RBLSQL05;Initial Catalog=RBAddressFinder;       User ID=mycentraldemo;Password=mycentraldemo" providerName="System.Data.SqlClient" />
    <add name="ElmahConnectionString"                     connectionString="Data Source=RBLSQL05;Initial Catalog=PH_ElmahErrorLogging;  User ID=mycentraldemo;Password=mycentraldemo" providerName="System.Data.SqlClient" />
    <add name="logging"                                   connectionString="Data Source=RBLSQL05;Initial Catalog=PH_Log4NetLogs;        User ID=mycentraldemo;Password=mycentraldemo" providerName="System.Data.SqlClient" />
    <add name="DeliveryTimeSlotConnectionString"          connectionString="Data Source=RBLSQL05;Initial Catalog=PH_DeliveryTimeSlot;   User ID=mycentraldemo;Password=mycentraldemo" providerName="System.Data.SqlClient" />
  </connectionStrings> -->
  

<!-- UAT WEBSITE  User Id=PH_MyCentral;password=Vuf$ke5uFe;" -->

  <connectionStrings>
    <add name="SessionStateConnectionString"     connectionString="Data Source=RBLSQL05;Initial Catalog=PH_SessionState;       			  User ID=mycentraldemo;Password=mycentraldemo" providerName="System.Data.SqlClient" />
	
	
	<add name="AddressFinderConnectionString"    connectionString="Data Source=RBLSQL05;Initial Catalog=RBAddressFinder;       User ID=mycentraldemo;Password=mycentraldemo" providerName="System.Data.SqlClient" />
	
	
    <add name="ElmahConnectionString"            connectionString="Data Source=RBL-SQLTEST;Initial Catalog=PH_UAT_Elmah_ErrorLogging;     User Id=PH_MyCentral;password=Vuf$ke5uFe;" providerName="System.Data.SqlClient" />
    <add name="DeliveryTimeSlotConnectionString" connectionString="Data Source=RBL-SQLTEST;Initial Catalog=PH_UAT_DeliveryTimeSlot;       User Id=PH_MyCentral;password=Vuf$ke5uFe;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
	<!-- Module Configuration -->
    <add key="webpages:Version" value="3.2.3.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="enableSimpleMembership" value="false" />
    <add key="autoFormsAuthentication" value="false" />
	<add key="BundleOptimisation" value="true" />

    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
    <add key="elmah.mvc.requiresAuthentication" value="false" />
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
    <add key="elmah.mvc.allowedRoles" value="*" />
    <add key="elmah.mvc.allowedUsers" value="*" />
    <add key="elmah.mvc.route" value="elmah" />
    <add key="elmah.mvc.UserAuthCaseSensitive" value="true" />
    <!-- End of Module Configuration -->

    <!-- PizzaHut application default settings for UIServices -->
    <add key="MyCentral_ApplicationID" value="821D3E1C-8FA7-4974-814E-AD9BF27E4FA2" />
    <add key="MyCentral_CultureCode" value="en-GB" />
	
	<add key="ClickAccountIdStoreKey" value="ClickAccountId" />

    <!-- Defaulting to pick up and store id (hamilton) application init-->
    <add key="MyCentral_Default_MenuId" value="66" />
    <add key="MyCentral_Default_App_StoreId" value="294" />
    <add key="MyCentral_Default_Session_StoreId" value="292" />
	
	<add key="SurchargeMobileEFTPOSProductId" value="2046" />
	<add key="MyCentral_GetMenu_RemoveEmptyCategory" value="true" />
	<add key="Delivery_Menu_Id" value="65" />
    <add key="Pickup_Menu_Id" value="64" />

    <!--Data and Category Keys-->
    <add key="Application_Menu_Cache_Key" value="Menu" />
    <add key="Application_Menu_Pizza_Key" value="pizza" />
    <add key="Application_Menu_Side_Key" value="sides" />
    <add key="Application_Menu_Side_Sauces_Key" value="sauces" />
    <add key="Application_Menu_Deals_Key" value="offers" />
    <add key="Application_Category_Key" value="categoryId" />
    <add key="Application_Root_Category_Key" value="rootcategoryId" />
    <add key="Application_Product_Type_Key" value="productType" />
	<add key="Application_Deal_Expire_Flag_Key" value="DealExpire" />
    <add key="PizzaConfigurator" value="pizzaconfigurator" />

    <!-- BestSeller, New and Filter attributes-->
    <add key="Application_Menu_Best_Seller" value="BestSeller" />
    <add key="Application_Menu_New" value="New" />
    <add key="Application_Menu_Filter_Key" value="Filter" />
    <add key="Application_Menu_Filter_Options" value="Sensations|Classics|Loaded Classics|Chicken|Meat|Vegetarian|Quesadillas|Seafood|Hot n Spicy|Most Popular" />
	
	

    <!-- Minimum order quantities for Pizzas and Sides -->
    <add key="Application_Minimum_Quantity_Sides" value="1" />
	<add key="Application_Maximum_Quantity_Sides" value="10" />

    <!-- Minimum order amount for delivery-->
    <add key="Minimum_Delivery_Order_Amount" value="20" />
    <add key="Delivery_Fee" value="10" />

    <!--Session and Cache Keys-->
    <add key="Request_Session_Key" value="Micros_Session" />
    <add key="Request_Cache_Key" value="Micros_ActivatedBasket" />
	<add key="CheckoutSessionKey" value="Checkout_Session" />
    <add key="InitialSessionKey" value="Initial_Session" />
    <add key="VoucherAppliedSessionKey" value="VoucherAppliedSessionKey" />

    <!--Image cache path-->
    <add key="Image_Cache_Path" value="/Cache/" />

    <!-- Address Service settings -->
    <add key="NumberOfResults" value="20" />

    <add key="ForgotPasswordLinkExpiryDuration" value="30" />
	<add key="ForgotPasswordBaseUrl" value="/reset-password" />

    <!-- Verbose Logging for response and request-->
    <add key="VerboseLoggingResponseAndRequest" value="false" />

    <!-- UserName -->
    <add key="UserName" value="UserName" />

    <!-- Checks whether the loggedIn or Not -->
    <add key="IsLoggedIn" value="IsLoggedIn" />

    <!--Cookie management-->
    <add key="RBCookieToken" value="RBS" />
    <add key="EncryptionPurpose" value="security" />
    <add key="ExpirationYears" value="100" />
    <!--Enable this when we go to https -->
    <add key="SecureCookiePath" value="true" />

    <!-- API Access StandAlone Key -->
    <add key="APIStandAlone" value="false" />
    
	<!-- Security -->
    <add key="AntiForgeryTokenKey" value="XSRF-TOKEN" />
    <add key="AntiForgeryHeaderTokenKey" value="X-XSRF-TOKEN" />
	
	<add key="PaidOrderPrefixInComment" value="PAID by CC ONLINE" />
	<add key="PaymentOptionEftposPrefixInComment" value="MOBILE EFTPOS" />
	<add key="PaymentOptionCashPrefixInComment" value="CASH" />

    <!-- Session Management and Website Initialisation-->
    <add key="CrossApplicationSession" value="true" />
    <add key="RootControllerInit" value="true" />
    
    <!-- Promo Configuration-->
    <!-- <add key="PromoLeftImage" value="/Images/happy-hour.png" />
    <add key="PromoLeftUrl" value="/order/deals/pickup" />
    <add key="PromoRightImage" value="/Images/catering.png" />
    <add key="PromoRightUrl" value="https://raydar.app-hosting.co.nz/catering/" /> -->
	
	<add key="HomepageLeftPromoTitle" value="Happy Hour - 1" />
    <add key="HomepageLeftPromoSummary" value="Buy heaps of great Pizzas from Pizza Hut" />
    <add key="HomepageLeftPromoUrl" value="/order/deals/pickup" />
    <add key="HomepageLeftPromoImage" value="/Images/happy-hour.png" />

    <add key="HomepageRightPromoTitle" value="Need Catering" />
    <add key="HomepageRightPromoSummary" value="Need Catering - go here and order many things" />
    <add key="HomepageRightPromoUrl" value="https://raydar.app-hosting.co.nz/catering/" />
    <add key="HomepageRightPromoImage" value="/Images/catering.png" />
	
	
	
	
	
     <!-- Stores homepage deal details -->
<!--     <add key="HomepageDealURL" value="https://www.pizzahut.co.nz/hashbites/index.html" />
    <add key="HomepageDealImage" value="/Images/PH-Homepage-Banner.png" />   --> 
	
	
	

	     <!-- Stores homepage deal details 
	
	    <add key="HomepageDealURL" value="/hashbites/index.html" />
    <add key="HomepageDealImage" value="/Images/PH-Homepage-Banner.png" />  
	
	
	-->
	
	
	
	
	
	
    <!-- Voucher Code -->
    <add key="VoucherErrorCode" value="VV0002" />
    
    <!--Web Essentials -->
    <add key="vs:EnableBrowserLink" value="false" />

    <!-- Paymark    UAT settings -->
    <!-- <add key="PaymarkBaseServiceURL" value="https://secure.paymarkclick.co.nz/" />
    <add key="PaymarkConstructFormServiceURL" value="api/webpayments/paymentservice/rest/WPRequest" />
    <add key="PaymarkContentTypeRequest" value="application/x-www-form-urlencoded" />
    <add key="PaymarkHeaderMediaType" value="application/xml" />    
    <add key="PaymarkAccountIdFieldValue" value="9999" />
    <add key="PaymarkUsernameFieldValue" value="21437" />
    <add key="PaymarkPasswordFieldValue" value="labxf9Dxkn1" />
    <add key="PaymarkParticularFieldValue" value="https://rbltest.co.nz" />
    <add key="PaymarkReferenceFieldValue" value="Pizza Hut" />
	<add key="PaymarkCMDFieldValue" value="_xclick" />
    <add key="PaymarkReturnUrlFieldValue" value="/payment/postpayment" />
    <add key="PaymarkResponseURL" value="/payment/response/" />
    <add key="PaymarkReturnUrlFieldUseSSL" value="true" />-->
	
	<!-- Paymark 
    <add key="PaymarkBaseServiceURL" value="https://UAT.paymarkclick.co.nz/" />
	    <add key="PaymarkBaseServiceURL" value="https://52.64.129.161/" />	
		
		
		
	<add key="PaymarkBaseServiceURL" value="https://UAT.paymarkclick.co.nz/" />
    <add key="PaymarkConstructFormServiceURL" value="api/webpayments/paymentservice/rest/WPRequest" />
    <add key="PaymarkContentTypeRequest" value="application/x-www-form-urlencoded" />
    <add key="PaymarkHeaderMediaType" value="application/xml" />    
    <add key="PaymarkAccountIdFieldValue" value="621431" />
    <add key="PaymarkUsernameFieldValue" value="101380" />
    <add key="PaymarkPasswordFieldValue" value="stephen123#" />
    <add key="PaymarkParticularFieldValue" value="https://rbltest.co.nz" />
    <add key="PaymarkReferenceFieldValue" value="Pizza Hut" />
	<add key="PaymarkCMDFieldValue" value="_xclick" />
    <add key="PaymarkReturnUrlFieldValue" value="/payment/postpayment" />
    <add key="PaymarkResponseURL" value="/payment/response/" />
	<add key="PaymarkReturnUrlFieldUseSSL" value="true" />
			
		
		
		-->

	
	
	<add key="PaymarkBaseServiceURL" value="https://UAT.paymarkclick.co.nz/" />
    <add key="PaymarkConstructFormServiceURL" value="api/webpayments/paymentservice/rest/WPRequest" />
    <add key="PaymarkContentTypeRequest" value="application/x-www-form-urlencoded" />
    <add key="PaymarkHeaderMediaType" value="application/xml" />    
    <add key="PaymarkAccountIdFieldValue" value="621431" />
    <add key="PaymarkUsernameFieldValue" value="101380" />
    <add key="PaymarkPasswordFieldValue" value="stephen123#" />
    <add key="PaymarkParticularFieldValue" value="https://rbltest.co.nz" />
    <add key="PaymarkReferenceFieldValue" value="Pizza Hut" />
	<add key="PaymarkCMDFieldValue" value="_xclick" />
    <add key="PaymarkReturnUrlFieldValue" value="/payment/postpayment" />
    <add key="PaymarkResponseURL" value="/payment/response/" />
	<add key="PaymarkReturnUrlFieldUseSSL" value="true" />
	
	
    <!--Analytics Development -->
    <add key="DevelopmentAnalytics" value="false" />
    <add key="GAAnalyticsCode" value="UA-35087840-3" />
	
	<add key="GAEcommerceRequire" value="true" />
	
	<!-- Error Messages -->
    <add key="ErrorMessageInvalidEmail" value="Invalid Email" />
    <add key="ErrorMessageInvalidOldpassword" value="Incorrect Old Password" />
    <add key="ErrorMessageInvalidUserAndPassword" value="Invalid username or password" />
	
	<add key="ErrorMessageOrderFailed" value="Unfortunately we have not been able to send your order to the store. Your order is important to us, we would like to invite you to call your local store on 0800 838383 where one of our friendly team will be happy to complete your order." />
    <add key="ErrorMessagePaymentReceivedOrderFailed" value="Unfortunately we have not been able to send your order to the store. In the event your credit card has already been charged we will process the refund with urgency on the next business day. Your order is important to us, we would like to invite you to call your local store on 0800 838383 where one of our friendly team will be happy to complete your order."/>
    
	<!-- If this setting exist all order will be considered as failed, this setting should not exist in production -->
	<!-- <add key="FailedFakeTestForPlaceOrder" value="true"/> -->
	
	<add key="CategoryID" value="68" />
	
	 <!-- Payment Options -->
    <add key="PaymentOptionPayPal" value="paypal" />
    <add key="PaymentOptionMobileEftpos" value="Mobile Eftpos" />
    <add key="PaymentOptionvme" value="vme" />
    <add key="PaymentOptionCreditDebitCard" value="CreditDebitCard" />
    <add key="PaymentOptionCash" value="Cash" />

    <add key="SessionAnticipationTime" value="30" />
    <add key="LastSessionCheckTime" value="LastSessionCheckTime" />
	<add key="IsSessionAlive" value="IsSessionAlive" />
	
	<add key="Mailchimp_FormUrl" value="datacom.us11.list-manage.com"/>
	<add key="Mailchimp_ClientId" value="7fd6d3ecf9" />
    <add key="Mailchimp_API_KEY" value="232e67585f2e6bd672409af5b" />
	
	<add key="EmailChangedTemplate" value="C:\Datacom\Website\API\Views\EmailTemplates\EmailChanged.cshtml" />
	<add key="MinimumCreditMessage" value="Payment via Credit Card is not Avaliable for order less than $10"/>
	<add key="RevenueTagURL" value="https://bs.serving-sys.com/Serving/ActivityServer.bs?cn=as&amp;ActivityID=780724" />
   	<add key="RevenueTagEnable" value="true"/>


  </appSettings>
  <system.web>
    <compilation targetFramework="4.5.1" />
    <httpRuntime />
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
    <httpHandlers>
      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      <add verb="*" path="*.logger" type="JSNLog.LoggerHandler, JSNLog" />
    </httpHandlers>
    <customErrors mode="RemoteOnly">
      <error statusCode="404" redirect="/error/pagenotfound" />
    </customErrors>
    <!-- <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" stateNetworkTimeout="10" sqlConnectionString="data source=127.0.0.1;Integrated Security=SSPI" sqlCommandTimeout="30" customProvider="" cookieless="UseCookies" cookieName="ASP.NET_SessionId" timeout="20" allowCustomSqlDatabase="false" regenerateExpiredSessionId="true" partitionResolverType="" useHostingIdentity="true">
      <providers>
        <clear />
      </providers>
    </sessionState>-->
    <sessionState mode="SQLServer" timeout="80" allowCustomSqlDatabase="true" sqlConnectionString="SessionStateConnectionString" cookieless="false" cookieName="ASP.NET_SessionId" regenerateExpiredSessionId="false" partitionResolverType="" useHostingIdentity="true">
      <providers>
        <clear />
      </providers>
    </sessionState> 
     <machineKey compatibilityMode="Framework45" decryptionKey="E40FCBA363D661DD4D40B4CDCD22DA72C2403C741672B9A6" validationKey="505427A62F9E7BF8F5A824F6CBD3D358C781E50F26EE8DD8696BE8A45AF78922417D42DCE88962735939689760790F3254AC7DA20327D057264C4D6FAC7F3939" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Elmah" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
	  <add name="LoggerHandler" verb="*" path="*.logger" type="JSNLog.LoggerHandler, JSNLog" resourceType="Unspecified" preCondition="integratedMode" />
	  <add name="LoggerHandler-Classic" path="*.logger" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode" />
    </handlers>
     <httpProtocol>
      <customHeaders>
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>
    <modules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
	<rewrite>
      <rules>
        <rule name="Must be https" enabled="false" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}:443/{R:1}" redirectType="SeeOther" />
        </rule>
      </rules>
    </rewrite>
	<httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
    <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
    <dynamicTypes>
      <add mimeType="text/*" enabled="true" />
      <add mimeType="message/*" enabled="true" />
      <add mimeType="application/javascript" enabled="true" />
      <add mimeType="application/json" enabled="true" />
      <add mimeType="application/json; charset=utf-8" enabled="true" />
      <add mimeType="*/*" enabled="true" />
    </dynamicTypes>
    <staticTypes>
      <add mimeType="text/*" enabled="true" />
      <add mimeType="message/*" enabled="true" />
      <add mimeType="application/javascript" enabled="true" />
      <add mimeType="application/octet-stream" enabled="true" />
      <add mimeType="font/*" enabled="true" />
      <add mimeType="image/*" enabled="true" />
      <add mimeType="*/*" enabled="false" />
    </staticTypes>
  </httpCompression>
  <urlCompression doStaticCompression="true" doDynamicCompression="true" />
  <staticContent>
    <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
  </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.Data" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
    </assemblyBinding>
   
    <!-- This prevents the Windows Event Log from frequently logging that HMAC1 is being used (when the other party needs it). -->
    <legacyHMACWarning enabled="0" />
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.net>
    <mailSettings>
      <smtp from="no.reply@pizzahut.co.nz">
        <network host="MX1.restaurantbrands.co.nz" port="25" />
      </smtp>
    </mailSettings>

    <settings>
      <!-- This setting causes .NET to check certificate revocation lists (CRL) 
           before trusting HTTPS certificates.  But this setting tends to not 
           be allowed in shared hosting environments. -->
      <!--<servicePointManager checkCertificateRevocationList="true" />-->
      <servicePointManager checkCertificateName="false" checkCertificateRevocationList="false" />
      <!-- This setting causes .NET to check certificate revocation lists (CRL) 
			     before trusting HTTPS certificates.  But this setting tends to not 
			     be allowed in shared hosting environments. -->
      <!--<servicePointManager checkCertificateRevocationList="true"/>-->
    </settings>
    <defaultProxy enabled="true" useDefaultCredentials="true">
      <proxy usesystemdefault="True" />
    </defaultProxy>
  </system.net>

  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
  <jsnlog>
    <consoleAppender name="consoleAppender" />
    <ajaxAppender name="ajaxAppender" level="ERROR" />
    <!--<logger appenders="ajaxAppender;consoleAppender" />-->
    <logger appenders="ajaxAppender" />
  </jsnlog>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Elmah.v2.ElmahLoggerFactoryAdapter, Common.Logging.Elmah.v2">
        <arg key="MinLevel" value="all" />
      </factoryAdapter>
    </logging>
  </common>
  <dotNetOpenAuth>
    <messaging>
      <untrustedWebRequest>
        <whitelistHosts>
          <!-- Uncomment to enable communication with localhost (should generally not activate in production!) -->
          <!--<add name="localhost" />-->
        </whitelistHosts>
      </untrustedWebRequest>
    </messaging>
    <!-- Allow DotNetOpenAuth to publish usage statistics to library authors to improve the library. -->
    <reporting enabled="true" />
    <!-- This is an optional configuration section where aspects of dotnetopenauth can be customized. -->
    <!-- For a complete set of configuration options see http://www.dotnetopenauth.net/developers/code-snippets/configuration-options/ -->
    <openid>
      <relyingParty>
        <security requireSsl="false">
          <!-- Uncomment the trustedProviders tag if your relying party should only accept positive assertions from a closed set of OpenID Providers. -->
          <!--<trustedProviders rejectAssertionsFromUntrustedProviders="true">
						<add endpoint="https://www.google.com/accounts/o8/ud" />
					</trustedProviders>-->
        </security>
        <behaviors>
          <!-- The following OPTIONAL behavior allows RPs to use SREG only, but be compatible
					     with OPs that use Attribute Exchange (in various formats). -->
          <add type="DotNetOpenAuth.OpenId.RelyingParty.Behaviors.AXFetchAsSregTransform, DotNetOpenAuth.OpenId.RelyingParty" />
        </behaviors>
      </relyingParty>
    </openid>
  </dotNetOpenAuth>
  <uri>
    <!-- The uri section is necessary to turn on .NET 3.5 support for IDN (international domain names),
		     which is necessary for OpenID urls with unicode characters in the domain/host name.
		     It is also required to put the Uri class into RFC 3986 escaping mode, which OpenID and OAuth require. -->
    <idn enabled="All" />
    <iriParsing enabled="true" />
  </uri>
  <log4net>
    <!--LOGGING SETTINGS-->
    <root>
      <level value="INFO" />
<!--       <appender-ref ref="RBADONetAppender" /> -->
      <appender-ref ref="FileAppender" />
    </root>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
	  <file name="FileAppender" type="log4net.Util.PatternString" value="C:/Datacom/logs/%date{yyyyMMdd}-apilog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <staticLogFileName value="false" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="15MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="------------------------------------------%newlineDATE - %date [%thread] %-5level MESSAGE- %message%newline%newline" />
      </layout>
    </appender>
	
	<appender name="PerformanceAppender" type="log4net.Appender.FileAppender">
      <file name="PerformanceAppender" type="log4net.Util.PatternString" value="C:/Datacom/logs/%date{yyyyMMdd}-performance.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <staticLogFileName value="false" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %newline %message %newline " />
      </layout>
    </appender>

    <appender name="CheckoutAppender" type="log4net.Appender.FileAppender">
      <file name="CheckoutAppender" type="log4net.Util.PatternString" value="C:/Datacom/logs/%date{yyyyMMdd}-checkoutError.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <staticLogFileName value="false" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="------------------------------------------%newlineDATE - %date [%thread] %-5level MESSAGE- %message%newline%newline" />
      </layout>
    </appender>	
	
	<appender name="CheckoutTransaction" type="log4net.Appender.FileAppender">
      <file name="CheckoutTransaction" type="log4net.Util.PatternString" value="C:/Datacom/logs/%date{yyyyMMdd}-checkoutTransaction.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <staticLogFileName value="false" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="------------------------------------------%newlineDATE - %date [%thread] %-5level MESSAGE- %message%newline%newline" />
      </layout>
    </appender>

	<logger name="PerformanceLogger" additivity="false">
      <level value="ALL" />
      <appender-ref ref="PerformanceAppender" />
    </logger>
	
	<logger name="AllCheckoutLogger" additivity="false">
      <level value="DEBUG" />
      <appender-ref ref="CheckoutTransaction" />
    </logger>
	
	<logger name="CheckoutLogger" additivity="false">
      <level value="ERROR" />
      <appender-ref ref="CheckoutAppender" />
    </logger>
	
  </log4net>
  <system.serviceModel>
    <bindings>
	  <customBinding>
        <binding name="BinaryCompressionBinding">
          <binaryMessageEncoding compressionFormat="GZip" />
          <httpTransport useDefaultWebProxy="true" />
        </binding>
      </customBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IOrderService" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_IPaymentService" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_ISecurityService" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_ICustomerService" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_IStoreService" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
        </binding>
		<binding name="TransactionsSoap">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:81/UIServices/OrderService.svc/soap" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrderService" contract="MicrosOrder.IOrderService" name="BasicHttpBinding_IOrderService" />
      <endpoint address="http://localhost:81/UIServices/PaymentService.svc/soap" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPaymentService" contract="MicrosPayment.IPaymentService" name="BasicHttpBinding_IPaymentService" />
      <endpoint address="http://localhost:81/UIServices/SecurityService.svc/soap" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISecurityService" contract="MicrosSecurity.ISecurityService" name="BasicHttpBinding_ISecurityService" />
      <endpoint address="http://localhost:81/UIServices/CustomerService.svc/soap" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerService" contract="MicrosCustomer.ICustomerService" name="BasicHttpBinding_ICustomerService" />
      <endpoint address="http://localhost:81/UIServices/StoreService.svc/soap" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStoreService" contract="MicrosStore.IStoreService" name="BasicHttpBinding_IStoreService" />
	  <endpoint address="https://uat.paymarkclick.co.nz/api/ccws/transactionsv2.asmx" binding="basicHttpBinding" bindingConfiguration="TransactionsSoap" contract="PaymarkProxy.TransactionsSoap" name="TransactionsSoap" />
    </client>
  </system.serviceModel>
</configuration>