<rb-edit-group group-name="edit-password">
    <span name="group-name">Edit password</span>
    <div name="group-form">
        <form name="editPasswordForm" ng-submit="editPassword.submitForm(editPasswordForm.$valid)" id="editPassword1Form" novalidate>
            <div ng-show="editPassword.isLoading" class="cart-loading-panel myaccount-loading-panel">
                <i class="fa fa-refresh fa-spin fa-3x"></i>
            </div>
            <fieldset>
                <legend>Edit username or password</legend>

                <!-- old password field -->
                <label for="old-password" class="oldpassword">Old password<span>*</span></label>
                <!--<label class="errorMessage" ng-show="editPasswordForm.oldPassword.$invalid && !editPasswordForm.oldPassword.$pristine && editPasswordForm.oldPassword.$touched">Old Password must be entered.</label>-->
                <span class="messageContainer" ng-show="(editPasswordForm.oldPassword.$invalid && editPasswordForm.oldPassword.$dirty) || editPasswordForm.oldPassword.$touched">
                    <label class="errorMessage" ng-show="editPasswordForm.oldPassword.$error.required">Old password must be entered.</label>
                </span>
                <input type="password" name="oldPassword" class="form-control" placeholder="" id="old-password" ng-model="editPassword.model.oldPassword" required ng-keyup="editPassword.checkKeyUp($event)">
                <i class=" myaccount-check-field fa fa-check-circle-o"
                       ng-class="{ 'myaccount-check-field-completed' : editPasswordForm.oldPassword.$valid}"
                       ng-hide="editPasswordForm.oldPassword.$invalid && (editPasswordForm.oldPassword.$touched || editPasswordForm.oldPassword.$dirty)"></i>

                <span class="glyphicon glyphicon-exclamation-sign exclamation-mark"
                      ng-show="editPasswordForm.oldPassword.$invalid && !editPasswordForm.oldPassword.$pristine || editPasswordForm.oldPassword.$error.minlength
                      || editPasswordForm.oldPassword.$error.maxlength || editPasswordForm.oldPassword.$error.required && editPasswordForm.oldPassword.$touched">
                </span>

                <!-- new password field -->
                <label for="new-password">Password<span>*</span></label>
                <span class="messageContainer" ng-if="(editPasswordForm.newPassword.$invalid && editPasswordForm.newPassword.$dirty) || editPasswordForm.newPassword.$touched">
                    <label class="errorMessage" ng-if="editPasswordForm.newPassword.$error.required">New password must be entered.</label>
                    <label class="errorMessage" ng-if="editPasswordForm.newPassword.$error.minlength || editPasswordForm.newPassword.$error.maxlength || editPasswordForm.newPassword.$error.pattern">
                        Invalid password.
                    </label>
                </span>
                <input type="password" name="newPassword" class="form-control" placeholder="" id="new-password" ng-model="editPassword.model.newPassword"
                       ng-pattern="editPassword.passwordPattern"
                       ng-minlength="6" ng-maxlength="39" maxlength="39" ng-keyup="editPassword.checkKeyUp($event)" required>
                <i class="myaccount-check-field fa fa-check-circle-o"
                   ng-class="{ 'myaccount-check-field-completed' : editPasswordForm.newPassword.$valid}"
                   ng-hide="editPasswordForm.newPassword.$invalid && (editPasswordForm.newPassword.$touched || editPasswordForm.newPassword.$dirty)"></i>
                <span class="glyphicon glyphicon-exclamation-sign exclamation-mark" ng-show="editPasswordForm.newPassword.$invalid && !editPasswordForm.newPassword.$pristine || editPasswordForm.newPassword.$error.minlength
                      || editPasswordForm.newPassword.$error.maxlength || editPasswordForm.newPassword.$error.required && editPasswordForm.newPassword.$touched"></span>

                <!-- confirm password field -->
                <label for="confirm-password">Repeat password<span>*</span></label>
                <span class="messageContainer" ng-if="(editPasswordForm.confirmPassword.$invalid && editPasswordForm.confirmPassword.$dirty) || editPasswordForm.confirmPassword.$touched">
                    <label class="errorMessage" ng-if="editPasswordForm.confirmPassword.$error.required">Repeat password must be entered.</label>
                    <label class="errorMessage" ng-if="editPasswordForm.confirmPassword.$error.minlength || editPasswordForm.confirmPassword.$error.maxlength || editPasswordForm.confirmPassword.$error.pattern">
                        Invalid password.
                    </label>
                </span>
                <input type="password" name="confirmPassword" class="form-control" placeholder="" id="confirm-password" ng-model="editPassword.model.confirmPassword"
                       ng-pattern="editPassword.passwordPattern"
                       ng-minlength="6" ng-maxlength="39" maxlength="39" ng-keyup="editPassword.checkKeyUp($event)" required>
                <i class=" myaccount-check-field fa fa-check-circle-o"
                       ng-class="{ 'myaccount-check-field-completed' : editPasswordForm.confirmPassword.$valid}"
                       ng-hide="editPasswordForm.confirmPassword.$invalid && (editPasswordForm.confirmPassword.$touched || editPasswordForm.confirmPassword.$dirty)"></i>
                <span class="glyphicon glyphicon-exclamation-sign exclamation-mark" ng-show="editPasswordForm.confirmPassword.$invalid && !editPasswordForm.confirmPassword.$pristine || editPasswordForm.confirmPassword.$error.minlength
                      || editPasswordForm.confirmPassword.$error.maxlength || editPasswordForm.confirmPassword.$error.required && editPasswordForm.confirmPassword.$touched"></span>

            </fieldset>
            <div ng-init="editPassword.setForm(editPasswordForm)"></div>
        </form>
    </div>
</rb-edit-group>
