@using RB.PizzaHut.Common.Extensions;

@{
    Layout = null;
}

<!-- Hero Block -->
<rb-hero container-class="order-page-promo" show-deal="false"></rb-hero>


<div ui-view="productTabContainer"></div>


<!-- #region right hand panel section -->
<rb-right-hand-panel></rb-right-hand-panel>
<!-- #endregion --> 