<div class="modal fade" id="register-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content create-login">
            <div ng-show="createLogin.isLoading" class="cart-loading-panel">
                <i class="fa fa-refresh fa-spin fa-3x" style="color: white;"></i>
            </div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="createLogin.onClose()"><span aria-hidden="true" class="fa fa-times-circle-o"></span></button>
                <h1>Create a login</h1>
            </div>


            


            <div id="register-form-body" class="modal-body">
                <p class="modal-error-message" ng-show="createLogin.model.isDisplayErrorMessage">{{ createLogin.model.errorMessage }}</p>
                <!--<form id="subForm" name="subForm" ng-submit="createLogin.onSubmit()" ng-init="createLogin.onLoaded()" novalidate>-->
                <form action="http://restaurantbrands1.createsend.com/t/r/s/dlyhihj/" method="post" id="subForm" name="subForm" ng-init="createLogin.onLoaded()">
                    <fieldset>
                        <legend>Create a login</legend>
                        <div>
                            <label for="cm-name">Name<span>*</span></label>
                            <span class="messageContainer" ng-if="(subForm.cm-name.$invalid && subForm.cm-name.$dirty) || subForm.cm-name.$touched">
                                <label class="errorMessage" ng-if="subForm.cm-name.$error.required">Name must be entered.</label>
                                <label class="errorMessage" ng-if="subForm.cm-name.$error.maxlength">Invalid Name.</label>
                            </span>
                            <input type="text" class="form-control" placeholder="Your first name" id="cm-name" name="cm-name" ng-model="createLogin.model.firstName"
                                   ng-maxlength="64" maxlength="64" required>
                            
                        </div>
                        <div>
                            <label for="cm-dlyhihj-dlyhihj">Email<span>*</span></label>
                            <span class="messageContainer" ng-if="(subForm.cm-dlyhihj-dlyhihj.$invalid && subForm.cm-dlyhihj-dlyhihj.$dirty) || subForm.cm-dlyhihj-dlyhihj.$touched">
                                <label class="errorMessage" ng-if="subForm.cm-dlyhihj-dlyhihj.$error.email || subForm.cm-dlyhihj-dlyhihj.$error.pattern|| subForm.cm-dlyhihj-dlyhihj.$error.maxlength">Invalid email.</label>
                                <label class="errorMessage" ng-if="subForm.cm-dlyhihj-dlyhihj.$error.required">Email must be entered.</label>
                            </span>
                            <input type="email" class="form-control" placeholder="Your email" id="cm-dlyhihj-dlyhihj" name="cm-dlyhihj-dlyhihj"
                                   ng-model="createLogin.model.email"
                                   ng-model-options="{allowInvalid: true}"
                                   ng-pattern="createLogin.emailPattern"
                                   ng-maxlength="60"
                                   maxlength="60"
                                   required>
                        </div>
                        <div>
                            <label for="fieldnurmlu">Source</label><br />
                            <input id="fieldnurmlu" name="cm-f-nurmlu" type="hidden" />
                        </div>
                    </fieldset>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-canel-cta" data-dismiss="modal" ng-click="createLogin.onClose()">Cancel</button>
                        <button type="submit" class="btn btn-primary-cta btn-buy-now" ng-disabled="subForm.$invalid || subForm.CreateLoginPhone.$error.required">Signup</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
