<div class="modal fade" id="forgotpassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="forgotPassword.onClose()"><span aria-hidden="true" class="side-panel-close fa fa-times-circle-o open-login-window"></span></button>
                <h1>Forgot Password</h1>
            </div>
            <p id="forgotpasswordtext">To reset your password, please submit your email below</p>
            <p id="emailconfirmationtext">An email has been sent to <strong id="customeremail">{{ forgotPassword.model.sendTo }}</strong></p>
            <div class="modal-body">
                <div ng-show="forgotPassword.isLoading" class="cart-loading-panel">
                    <i class="fa fa-refresh fa-spin fa-3x" style="color: white;"></i>
                </div>
                <form id="form_forgot_password" name="form_forgot_password" ng-submit="forgotPassword.onSubmit()" novalidate>
                    <p class="modal-error-message" ng-show="forgotPassword.model.isDisplayErrorMessage">{{ forgotPassword.model.errorMessage }}</p>
                    <fieldset>
                        <label id="emailwidth">Email<span>*</span></label>
                        <span class="messageContainer" ng-if="(form_forgot_password.EmailInput.$invalid && form_forgot_password.EmailInput.$dirty) || form_forgot_password.EmailInput.$touched">
                            <label class="errorMessage" ng-if="form_forgot_password.EmailInput.$error.email || form_forgot_password.EmailInput.$error.pattern">Invalid email.</label>
                            <label class="errorMessage" ng-if="form_forgot_password.EmailInput.$error.required">Email must be entered.</label>
                        </span>
                        <div class="clearfix">
                            <input type="email" class="form-control" id="EmailInput" name="EmailInput" placeholder="Email"
                                   ng-model="forgotPassword.model.email"
                                   ng-model-options="{allowInvalid: true}"
                                   ng-pattern="forgotPassword.emailPattern"
                                   required>
                            <i ng-class="{ 'check-field fa fa-check-circle-o' : form_forgot_password.EmailInput.$pristine && !form_forgot_password.EmailInput.$touched, 'check-field fa fa-check-circle-o check-field-completed' : form_forgot_password.EmailInput.$valid, 'glyphicon glyphicon-exclamation-sign exclamation-mark':!form_forgot_password.EmailInput.$valid && (form_forgot_password.EmailInput.$touched||form_forgot_password.EmailInput.$dirty)}"></i>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary-cta btn-sav-to-favourites pull-right" id="forgotpasswordsubmit"
                        ng-click="forgotPassword.onSubmit()" ng-disabled="form_forgot_password.$invalid">
                    Submit
                </button>
                <button type="button" class="btn btn-canel-cta pull-right passwordcancle" data-dismiss="modal" ng-click="forgotPassword.onClose()">Cancel</button>
                <button type="button" class="btn btn-primary-cta btn-sav-to-favourites pull-right" id="continue" data-dismiss="modal" data-toggle="modal" data-target="#login-dialog" >Continue</button>
               
            </div>
        </div>
    </div>
</div>