    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="resetPasswordForm.onClose()"><span aria-hidden="true" class="side-panel-close fa fa-times-circle-o open-login-window"></span></button>
            <h1>Reset Password</h1>
        </div>
        <div class="modal-body">
            <p ng-show="resetPasswordForm.showNotification">An email with your password has been send to <strong id="customeremail">{{ resetPasswordForm.model.sendTo }}</strong></p>
            <p ng-hide="resetPasswordForm.showNotification">Please submit your new password below</p>
            <div ng-show="resetPasswordForm.isLoading" class="cart-loading-panel">
                <i class="fa fa-refresh fa-spin fa-3x" style="color: white;"></i>
            </div>
            <form id="form_changePassword" name="form_changePassword" ng-submit="resetPasswordForm.onSubmit()" novalidate>
                <p class="modal-error-message" ng-show="resetPasswordForm.model.isDisplayErrorMessage">{{ resetPasswordForm.model.errorMessage }}</p>
                <fieldset>
                    <div>
                        <label for="NewPassword">Password<span>*</span></label>
                        <span class="messageContainer" ng-if="(form_changePassword.NewPassword.$invalid && form_changePassword.NewPassword.$dirty) || form_changePassword.NewPassword.$touched">
                            <label class="errorMessage" ng-if="form_changePassword.NewPassword.$error.required">Password must be entered.</label>
                            <label class="errorMessage" ng-if="form_changePassword.NewPassword.$error.minlength || form_changePassword.NewPassword.$error.maxlength || form_changePassword.NewPassword.$error.pattern">
                                Invalid password.
                            </label>
                        </span>
                        <input type="password" class="form-control" placeholder="Password" id="NewPassword" name="NewPassword" ng-model="resetPasswordForm.model.password"
                               ng-pattern="createLogin.passwordPattern"
                               ng-minlength="6" ng-maxlength="39" maxlength="39" required>
                        <i class="check-field fa fa-check-circle-o"
                           ng-class="{ 'check-field-completed' : form_changePassword.NewPassword.$valid}"
                           ng-if="!(form_changePassword.NewPassword.$invalid && (form_changePassword.NewPassword.$touched || form_changePassword.NewPassword.$dirty))"></i>
                        <i class="glyphicon glyphicon-exclamation-sign exclamation-mark"
                           ng-if="!form_changePassword.NewPassword.$valid && (form_changePassword.NewPassword.$touched || form_changePassword.NewPassword.$dirty)"></i>

                    </div>
                    <!--Repeat Password-->
                    <div>
                        <label for="ConfirmNewPassword">Repeat password<span>*</span></label>
                        <span class="messageContainer" ng-if="(form_changePassword.ConfirmNewPassword.$invalid && form_changePassword.ConfirmNewPassword.$dirty) || form_changePassword.ConfirmNewPassword.$touched">
                            <label class="errorMessage" ng-if="form_changePassword.ConfirmNewPassword.$error.required">Repeat password must be entered.</label>
                            <label class="errorMessage" ng-if="form_changePassword.ConfirmNewPassword.$error.minlength || form_changePassword.ConfirmNewPassword.$error.maxlength || form_changePassword.ConfirmNewPassword.$error.pattern">
                                Invalid password.
                            </label>
                            <label class="errorMessage" ng-if="!form_changePassword.ConfirmNewPassword.$error.minlength && !form_changePassword.ConfirmNewPassword.$error.maxlength && !form_changePassword.ConfirmNewPassword.$error.required && !form_changePassword.ConfirmNewPassword.$error.pattern && form_changePassword.ConfirmNewPassword.$error.match">Oops! Your password don’t match.</label>
                        </span>
                        <input type="password" class="form-control" placeholder="Repeat your password" id="ConfirmNewPassword" name="ConfirmNewPassword" ng-model="resetPasswordForm.model.repeatPassword"
                               ng-pattern="createLogin.passwordPattern"
                               ng-minlength="6" ng-maxlength="39" maxlength="39"
                               match-with="createLogin.model.password"
                               required>
                        <i class="check-field fa fa-check-circle-o"
                           ng-class="{ 'check-field-completed' : form_changePassword.ConfirmNewPassword.$valid }"
                           ng-if="!(form_changePassword.ConfirmNewPassword.$invalid && (form_changePassword.ConfirmNewPassword.$touched || form_changePassword.ConfirmNewPassword.$dirty))"></i>
                        <i class="glyphicon glyphicon-exclamation-sign exclamation-mark"
                           ng-if="!form_changePassword.ConfirmNewPassword.$valid && (form_changePassword.ConfirmNewPassword.$touched || form_changePassword.ConfirmNewPassword.$dirty)"></i>

                    </div>
                </fieldset>
            </form>
        </div>
        <div class="modal-footer" ng-hide="resetPasswordForm.showNotification">
            <button type="button" class="btn btn-primary-cta btn-sav-to-favourites pull-right" id="resetPasswordFormsubmit"
                    ng-click="resetPasswordForm.onSubmit()" ng-disabled="form_changePassword.$invalid">
                Submit
            </button>
            <button type="button" class="btn btn-canel-cta pull-right passwordcancle" data-dismiss="modal" ng-click="resetPasswordForm.onClose()">Cancel</button>
        </div>
    </div>